# Copy to .env and fill in your local PostgreSQL credentials
PG_HOST=localhost
PG_PORT=5432
PG_DB=xy_pharma
PG_USER=postgres
PG_PASSWORD=1234
EXCEL_PATH=data/CO_medicamentos_aprobados.xlsx

# Flask
# Generate one with: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=21a56264112310541651ad215789153
PORT=8050
DASH_DEBUG=true
